<div class="plan">
    <h3>28 Day Trial</h3>
    <p><span class="fas fa-check"></span> Real-life integration</p>
    <p><span class="fas fa-check"></span> The Biblical Feasts</p>
    <p><span class="fas fa-check"></span> Weekly Sabbath</p>
    <h3><span class="price">Free for 28 days</span></h3>
    <a class="button choose-plan" data-plan="BASIC_YEARLY-trial">Start Trial</a>
</div>
<div class="plan">
    <h3>Basic</h3>
    <p><span class="fas fa-check"></span> Major Holidays</p>
    <p><span class="fas fa-check"></span> Shabbat candle lighting times</p>

    <h3><span class="price">$12.66 / year</span></h3>
    <a class="button choose-plan" data-plan="BASIC_YEARLY">Choose Yearly (21% off!)</a>

    <h3><span class="price">$1.34 / month</span></h3>
    <a class="button choose-plan" data-plan="BASIC_MONTHLY">Choose Monthly</a>
</div>
<div class="plan">
    <h3>Advanced</h3>
    <p><span class="fas fa-check"></span> Everything in 'Basic'</p>
    <p><span class="fas fa-check"></span> Minor holidays</p>
    <p><span class="fas fa-check"></span> Fasts</p>
    <p><span class="fas fa-check"></span> Rosh Chodeshim</p>

    <h3><span class="price">$19.99 / year</span></h3>
    <a class="button choose-plan" data-plan="ADVANCED_YEARLY">Choose Yearly (2 months off!)</a>

    <h3><span class="price">$1.99 / month</span></h3>
    <a class="button choose-plan" data-plan="ADVANCED_MONTHLY">Choose Monthly</a>
</div>
