<div class="plan">
    <h3>Basic</h3>
    <div class="plan-details">
        <p><span class="fas fa-check"></span> Major Holidays</p>
        <p><span class="fas fa-check"></span> Shabbat candle lighting times</p>
    </div>

    <h3><span class="price">$12.66 <small>/year</small></span></h3>
    <button class="button" id="checkout-button-BASIC_YEARLY" role="link">Free for 28 days</button>
</div>
<div class="plan">
    <h3>Advanced</h3>
    <div class="plan-details">
        <p><span class="fas fa-check"></span> Everything in 'Basic'</p>
        <p><span class="fas fa-check"></span> Minor holidays</p>
        <p><span class="fas fa-check"></span> Fasts</p>
        <p><span class="fas fa-check"></span> Rosh Chodeshim</p>
    </div>
    

    <h3><span class="price">$19.99 <small>/year</small></span></h3>
    <button class="button" id="checkout-button-ADVANCED_YEARLY" role="link">Choose Advanced</button>
</div>
