<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/assets/css/styles.css">

	<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
	<script src="https://www.gstatic.com/firebasejs/6.4.1/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/6.4.1/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/6.4.1/firebase-functions.js"></script>

	<script>
	firebase.initializeApp({
		apiKey: "AIzaSyBeOv0OKfOywoBYPnzzkIwkOB6D9qV1KBU",
		authDomain: "is-it-shabbat-calendar.firebaseapp.com",
		databaseURL: "https://is-it-shabbat-calendar.firebaseio.com",
		projectId: "is-it-shabbat-calendar",
		storageBucket: "is-it-shabbat-calendar.appspot.com",
		messagingSenderId: "194896303619",
		appId: "1:194896303619:web:5898c6c2b1c10319"
	});
	</script>
</head>
<body>
	{% include nav.html %}
	{{ content }}
	{% include footer.html %}
	<script src="https://kit.fontawesome.com/3956e76dfa.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/axios@0.19.0/dist/axios.min.js"></script>

	<script src="/assets/js/auth.js"></script>
	<script src="/assets/js/api.js"></script>
</body>
</html>
